
.landing-block {
    text-align: center;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=891&q=80");
    background-size: cover;
    margin: 0 auto;
}

.name-text {
    color: rgb(255, 255, 255);
    text-shadow:
		-1px -1px 0 rgba(71, 71, 71, 0.678),
		1px -1px 0 rgba(71, 71, 71, 0.678),
		-1px 1px 0 rgba(71, 71, 71, 0.678),
		1px 1px 0 rgba(71, 71, 71, 0.678);
    font-family: 'Montserrat', sans-serif;
}

.name-text h1 {
    font-size: 8vw;
    font-weight: bold;
}

.name-text span {
    color: rgb(231, 201, 26);
}

.name-text p {
    font-size: 3vw;
}

#mainNavbar {
    border-bottom: solid 5px;
    border-bottom-color: rgb(0, 175, 219);
    font-size: 1.25rem;
    font-weight: 310;
    background: #1B242F;
}

.nav-link {
    color: white !important;
}
#mainNavbar .nav-link:hover {
    color: rgb(231, 201, 26) !important;
    transition: 400ms ease-in !important;
}

.highlight {
    color: rgb(231, 201, 26) !important;
    /* transition: 100ms ease-in !important; */
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}

.fixed-top {
    animation: smoothScroll 0.6s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-44px);
    }
    100% {
        transform: translateY(0px);
    }
}

.section-block {
    padding: 120px 10vw 150px 10vw;
}
.section-title {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

.section-title h2 {
    font-weight: 1000;
    font-size: 30pt;
    color: rgb(31, 31, 31);
}

.title-bar {
    border-bottom: solid 4.5px rgb(31, 31, 31);
    margin: 20px 35vw 20px 35vw;
}

#about-title {
    opacity: 0;
}

#about-bar {
    opacity: 0;
}

.slideInRight {
    animation: slideInRight 2s forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(70vw); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#about {
    background: rgba(228, 227, 227, 0.788);
    color: black;
    font-family: 'Montserrat', sans-serif;

}

#about-info {
    padding: 0 200px 0 200px;
}

#profile-pic {
    opacity: 0;
    width: auto;
    height: auto;
    /* 4032 x 3024 */
    max-width: 403.2px;
    max-height: 302.4px;
}

.slideUp {
    animation: slideUp 2s forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50vh); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#project {
    background: rgba(204, 204, 204, 0.747);
}

#project-title {
    opacity: 0;
}

#project-bar {
    opacity: 0;
}

.slideInLeft {
    animation: slideInLeft 2s forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-70vw); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.card {
    font-family: 'Muli', sans-serif;
    font-size: 10pt;
    background: rgba(204, 204, 204, 0.747);  
    border: none;
}

.card-img-top {
    border-radius: 0;
}

.card-title a{
    color: black;
}

.card-title a:hover{
    color: rgb(26, 108, 231) !important;
    transition: 200ms ease-in !important;
}

#contact {
    background: #252934;
    color: white;
}

#contact .section-title h2 {
    color: white;
}

#contact .title-bar {
    border-bottom-color: white;
}

#email-info {
    text-align: center;
}

#contact-link {
    text-align: center;
}

#contact-link a {
    color: white;
}

#contact-link a:hover {
    color: rgb(26, 108, 231) !important;
    transition: 200ms ease-in !important;
}

footer {
    background: #1B242F;
}

#footerBar i {
    position: relative;
    overflow: hidden;
    font-size: 19pt;
    display: inline-block;
    color: white;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    margin: 0 15px;
  }

#footerBar i:hover {
    box-shadow: 0px 0px 5px rgba(0, 120, 233, 0.418);
    background: rgb(18, 164, 201);
    transform: scale(1.2);
}

#footerBar i {
    transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
}

footer .footnote {
    font-size: 10pt;
    padding-bottom: 50px;
    text-align: center;
    color: #8F9AA7;
}