
.landing-block {
    text-align: center;
    height: 100vh;
    background: url("./resources/temp-img-filler.jpg");
    
    margin: 0 auto;
    
}

.name-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.name-text h1 {
    font-size: 7vw;
}

.name-text span {
    color: rgb(231, 201, 26);
}

.name-text p {
    font-size: 3vw;
}

#mainNavbar {
    border-bottom: solid 5px;
    border-bottom-color: rgb(0, 175, 219);
    font-size: 1.25rem;
    font-weight: 310;
    background: #1B242F;
}

.nav-link {
    color: white !important;
}
#mainNavbar .nav-link:hover {
    color: rgb(231, 201, 26) !important;
    transition: 400ms ease-in !important;
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}

.fixed-top {
    animation: smoothScroll 0.6s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-44px);
    }
    100% {
        transform: translateY(0px);
    }
}

.section-block {
    padding: 120px 10vw 150px 10vw;
}
.section-title {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

.slideInRight {
    animation: slideInRight 2s forwards;
}

.section-title h2 {
    font-weight: 1000;
    font-size: 30pt;
    color: rgb(31, 31, 31);

}

.title-bar {
    border-bottom: solid 4.5px rgb(31, 31, 31);
    margin: 20px 35vw 20px 35vw;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(70vw); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#about {
    background: rgba(236, 236, 236, 0.747);
    color: black;
}

#about-info {
    padding: 0 200px 0 200px;
}

#profile-pic {
    border: solid 2px  rgb(18, 164, 201);
    opacity: 0;
}

.slideUp {
    animation: slideUp 2s forwards 1s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70vh); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#project {
    background: rgba(204, 204, 204, 0.747);
}

.card {
    font-family: 'Muli', sans-serif;
    background: #f4f4f4;
    
}

#contact {
    padding: 50px 0 70px 0;
    background: #252934;
    color: white;
}

#contact .section-title h2 {
    color: white;
}

#email-info {
    text-align: center;
    padding: 10px;
}

#contact-link {
    text-align: center;
}

#contact-link a {
    color: white;
}

footer {
    background: #1B242F;
}

#footerBar i {
    position: relative;
    overflow: hidden;
    font-size: 19pt;
    display: inline-block;
    color: white;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    margin: 0 15px;
  }

#footerBar i:hover {
    box-shadow: 0px 0px 5px rgba(0, 120, 233, 0.418);
    background: rgb(18, 164, 201);
    transform: scale(1.2);
}

#footerBar i {
    transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
}

footer .footnote {
    font-size: 10pt;
    padding-bottom: 50px;
    text-align: center;
    color: #8F9AA7;
}